#pre1 {
    font-size: 200%;
    Color:rgb(100, 31, 100);
    font-family: courier
}
.uno {
    text-decoration: overline;
}
#pre2 {
    font-size: 175%;
    color:rgb(101, 20, 177);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: none;
}

