body{
    margin-top: 5%;
    margin-left: 42%;
}form{
    margin: %;
    border: %;
    width: %;
    background-color: blueviolet;
}
label{
    margin-right:  10em;
    margin-top: 1em;
    font-weight: 900;
    width: 90px;
    

}textarea{
    
    margin-bottom: 2em;
/* Para dar suficiente espacio para escribir texto */
    height: 2em;
/* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
No funciona en todos los navegadores */
    
    width: 300px;
    

}
   